<style>
    body {
        /* padding: 0;
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: flex-end; 
        align-items: center; */
        background-color: #8ff0cf;
        background-image: url(https://www.shutterstock.com/image-photo/fresh-herbs-garden-wooden-olive-600nw-1296916552.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    #text-container {
        color: #ffffff;
        font-family: 'Arial', sans-serif;
        font-size: 24px;
        position: absolute;
        left: 20px; /* Adjust the left position as needed */
        top: 50%;
        transform: translateY(-50%);
    }


</style>

<div id="text-container" style="margin-top: 15%;">
    <h1 style="animation: fadeInUp 1s ease-out;text-shadow: 3px 3px 3px rgba(41, 128, 185, .8);color: #000000;font-size: 50px;">GreenHerb </h1>
    <p style="font-size: 30px;color: #3a021c;animation: fadeInUp 1.5s ease-out;margin-top: 1px;">Analytics and Recognition for Healthcare Solutions</p>
</div>